<div class="wallets-container">
  <div class="card-container" *ngIf="!account">
    <ng-container *ngFor="let wallet of wallets">
      <button
        class="card card-small"
        (click)="connect(wallet)"
        tabindex="0"
        *ngIf="wallet.clientMutable.state != 'Error'"
      >
        <img
          class="wallet-logo"
          [src]="getLogoOfWallet(wallet.walletInfo)"
          alt="wallet-logo"
          width="24"
          height="24"
        />
        <span>{{ wallet.walletPrettyName }}</span>
      </button>
    </ng-container>
  </div>

  <div class="card-container" *ngIf="account">
    <div>Address: {{ account?.address }}</div>
    <button class="card card-small" (click)="sign()" tabindex="0">
      <span> Sign Message </span>
    </button>

    <button class="card card-small" (click)="broadcast()" tabindex="0">
      <span> Broadcast </span>
    </button>

    <button class="card card-small" (click)="disconnect()" tabindex="0">
      <span> Disconnect </span>
    </button>
  </div>

  <div *ngIf="chainWallet && !chainWallet?.isMobile">
    <div>{{ chainWallet.qrUrl?.state }}</div>
    <qrcode
      *ngIf="chainWallet.qrUrl?.state == 'Done'"
      [qrdata]="chainWallet.qrUrl?.data"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
  </div>

  {{ error | json }}
</div>
